h1{
color: #70c728;
text-align: center;
margin: 0px;
padding-left: 30px;
font-size: xx-large;
margin: ;
}
h2{
    margin: 0px;
    text-align: center;
    color: #9fd762;
}
header{
    padding-top: 25px;

}
div{
    background-color: #9fd762;
}