/* Reset e base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.top-bar {
    background-color: #1d6e1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    color: white;
}

.login-button {
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.social-icons img {
    width: 45px;
    margin-left: 10px;

}

/* Cabeçalho */
.header-content {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #ffffff;
    border-bottom: 4px solid #1d6e1d;
}

#logo-escola{
  width: 100px;
}

.logo-area {
    text-align: center;
    width: 150px;
}

.logo {
    height: 80px;
    margin-bottom: 5px;
}

.school-name {
    font-size: 12px;
    font-weight: bold;
}

.title-area h1 {
    font-size: 26px;
    text-align: center;
    color: #000000;
    font-weight: normal;
}

.title-area h1 span {
    font-weight: bold;
    font-size: 30px;
}

.search-box {
    border: 2px solid #1d6e1d;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
}

.search-box input {
    border: none;
    outline: none;
    width: 120px;
    font-size: 16px;
}

.search-box button {
    background: none;
    border: none;
    cursor: pointer;
}

.search-box button img {
    width: 20px;
    height: 20px;
}

/* Corpo principal */
.main {
    display: flex;
    min-height: 80vh;
}

/* Sidebar */
.sidebar {
    width: 150px;
    background-color: #1d6e1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    gap: 30px;
}

.side-button {
    margin: 1vh;
    width: 140px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.side-button a{
    text-decoration: none;
    background-color: ;
}

.voltar-button {
    margin-top: 130px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-size: 14px;
    cursor: pointer;

}
.welcome-box {
    background-image: url(imagem/img_9079.webp );
    height: 500px;
    background-size: cover;
    color: aliceblue;
    font-size: x-large;
    background-repeat: no-repeat;
    text-align: left 10px;
}